{% extends 'bookingsystem/main.html' %}

{% block content %}

    <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Classes</h5>
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>Classes/Lessons</th>
                            <th>Class Type/Lesson</th>
                            <th>Price</th>
                            </tr>
                    </table>
                </div>
            </div>
        </div>


{% endblock content%}    
